In [3]:
import pandas as pd

dfCaudal = pd.read_excel(r'caudal.xlsx')
dfCaudal = pd.DataFrame(dfCaudal, columns=['Tempo', 'Caudal'])
dfCaudal.head()

                Tempo Caudal
0 2020-01-01 23:26:58   4.39
1 2020-01-02 00:26:58    3.9
2 2020-01-02 01:26:58    3.6
3 2020-01-02 02:26:58    3.3
4 2020-01-02 03:26:54    3.3

In [67]:
caud = dfCaudal.copy()

#caud['week'] = caud.Tempo.dt
caud['month'] = caud.Tempo.dt.month
caud['Caudal'] = pd.to_numeric(caud['Caudal'], errors='coerce')
caud = caud[caud['Caudal'] > 0]
#aud.set_index(["month", "week"], inplace = True)

C:\Users\Francisco\AppData\Local\Temp\ipykernel_28596\3761537333.py:10: FutureWarning: The behavior of `series[i:j]` with an integer-dtype index is deprecated. In a future version, this will be treated as *label-based* indexing, consistent with e.g. `series[i]` lookups. To retain the old behavior, use `series.iloc[i:j]`. To get the future behavior, use `series.loc[i:j]`.
  for k in caud.Tempo[0:1].dt.keys():

AttributeError: 'DatetimeProperties' object has no attribute 'keys'