In [5]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.dates as mdates
import matplotlib.pyplot as plt 


dfCaudal = pd.read_excel(r'caudal.xlsx')
dfCaudal = pd.DataFrame(dfCaudal, columns=['Tempo', 'Caudal'])

dfCaudal.head()

                Tempo Caudal
0 2020-01-01 23:26:58   4.39
1 2020-01-02 00:26:58    3.9
2 2020-01-02 01:26:58    3.6
3 2020-01-02 02:26:58    3.3
4 2020-01-02 03:26:54    3.3

In [39]:
dfInterv = pd.read_excel(r'ordens.xlsx', sheet_name="Intervenções")
dfInterv.drop(dfInterv.columns[[2, 3, 4, 5, 7, 8, 9, 10, 12, 13, 14, 15, 16, 17, 18,19,20,22, 23, 24, 25]], inplace=True, axis=1)
dfInterv.rename( columns = {
    'INTERVENÇÕES': 'intervencao',
    'Unnamed: 1': 'data',
    'Unnamed: 6': 'duracao',
    'Unnamed: 11': 'sintoma',
    'Unnamed: 21': 'zmc',
}, inplace=True)
dfInterv = dfInterv.iloc[1:, :]
dfInterv = dfInterv[dfInterv.zmc == 'ZMC de Bolho']

# TODO
# avaliar diferenca de todas 
# avaliar apenas aquelas q sao fugas no ramal

dfInterv.head(20)

,intervencao,data,duracao,sintoma,zmc
15,IN_22_AB_03851,2022-10-07 07:45:00,00:05:57,Abastecimento » Rede de Água » Avarias na Rede...,ZMC de Bolho
16,IN_22_AB_03850,2022-10-07 07:45:00,03:54:14,Abastecimento » Rede de Água » Avarias na Rede...,ZMC de Bolho
64,IN_22_AB_03260,2022-08-29 07:45:00,00:42:12,Abastecimento » Contador » Fuga no Ramal,ZMC de Bolho
98,IN_22_AB_02934,2022-08-08 07:45:00,01:07:34,Abastecimento » Contador » Fuga no Ramal,ZMC de Bolho
101,IN_22_AB_02935,2022-08-04 08:00:00,00:03:49,Abastecimento » Rede de Água » Avarias na Rede...,ZMC de Bolho
138,IN_22_AB_02550,2022-07-08 07:45:00,01:26:10,Abastecimento » Logger's » Avaria na Rede - Lo...,ZMC de Bolho
148,IN_22_AB_02372,2022-07-01 07:45:00,00:01:55,Abastecimento » Contador » Fuga no Ramal,ZMC de Bolho
155,IN_22_AB_02280,2022-06-27 08:00:00,00:04:00,Abastecimento » Contador » Fuga no Ramal,ZMC de Bolho
166,IN_22_AB_02184,2022-06-20 11:25:14,00:03:13,Abastecimento » Rede de Água » Avarias na Rede...,ZMC de Bolho
173,IN_22_AB_02110,2022-06-13 14:28:13,00:13:08,Abastecimento » Rede de Água » Avarias na Rede...,ZMC de Bolho
194,IN_22_AB_01897,2022-05-26 08:00:00,00:39:51,Abastecimento » Logger's » Avaria na Rede - Lo...,ZMC de Bolho
199,IN_22_AB_01782,2022-05-20 07:45:00,01:10:29,Abastecimento » Contador » Fuga no Ramal,ZMC de Bolho
200,IN_22_AB_01773,2022-05-19 08:00:00,00:11:51,Abastecimento » Logger's » Avaria na Rede - Lo...,ZMC de Bolho
213,IN_22_AB_01678,2022-05-12 08:00:00,01:37:30,Abastecimento » Logger's » Avaria na Rede - Lo...,ZMC de Bolho