In [53]:
from simpledbf import Dbf5

dbf = Dbf5('Tubagens.dbf')
df = dbf.to_dataframe()
nunique = df.nunique()
cols_to_drop = nunique[nunique == 1].index


df.drop(cols_to_drop, axis=1, inplace = True)
df.head()
tub = df.copy()[['Handle','Observac_1', 'XDList','FonteInfor', 'AnoInstala', 'CadModel', 'Reabilitad', 'Empreiteir','TipoAgua', 'Color', 'DN', 'DocPath','Rugosidade', 'LineWt', 'Arruamento', 'CadType', 'Shape_Leng', 'LTScale', 'Material', 'IDEntidade', 'Localizaca']]
print(df.columns)
tub.head()

Index(['OBJECTID', 'GlobalID', 'IDEntidade', 'IDInfraest', 'IDGestao',
       'IDLocaliza', 'Utilizador', 'DataDigita', 'UltimoEdit', 'DataActual',
       'Distrito', 'Freguesia', 'Arruamento', 'Localizaca', 'Descricao',
       'FonteInfor', 'Observacoe', 'EstadoCons', 'Observac_1', 'TipoCotaZ',
       'AnoInstala', 'DataEntrad', 'Reabilitad', 'DataReabil', 'RegistoInt',
       'Funcao', 'TipoAgua', 'TipoEscoam', 'Material', 'DN', 'DNInterno', 'PN',
       'Rugosidade', 'Profundida', 'TipoAssent', 'TipoRecobr', 'Shape_Leng',
       'Empreiteir', 'CadType', 'Color', 'LineWt', 'Layer', 'Handle',
       'RefName', 'Class', 'LTScale', 'CadModel', 'ExtZ', 'Elevation',
       'LyrName', 'LvlDesc', 'LyrColor', 'LyrLineWt', 'LyrOn', 'LyrHandle',
       'TxtValue', 'TxtMemo', 'TxtGenType', 'TxtJust', 'VertAlign', 'TxtStyle',
       'TxtFont', 'DocName', 'DocPath', 'XDList'],
      dtype='object')

,Handle,Observac_1,XDList,FonteInfor,AnoInstala,CadModel,Reabilitad,Empreiteir,TipoAgua,Color,...,DocPath,Rugosidade,LineWt,Arruamento,CadType,Shape_Leng,LTScale,Material,IDEntidade,Localizaca
0,NaN,NaN,NaN,PlCadastro,1996,NaN,0,NaN,Agua Potavel,0,...,NaN,140.0,0,NaN,NaN,14.247136,0.0,PVC,aTU-8,Camarneira
1,NaN,NaN,NaN,PlCadastro,1990,NaN,0,NaN,Agua Potavel,0,...,NaN,140.0,0,NaN,NaN,261.967178,0.0,PVC,aTU-18,Febres
2,NaN,NaN,NaN,PlCadastro,1997,NaN,0,NaN,AguaPotavel,0,...,NaN,140.0,0,NaN,NaN,7.110100,0.0,PVC,aTU-20,Serredade
3,NaN,NaN,NaN,PlCadastro,1997,NaN,0,NaN,AguaPotavel,0,...,NaN,140.0,0,NaN,NaN,11.881431,0.0,PVC,aTU-21,Serredade
4,NaN,NaN,NaN,PlCadastro,1995,NaN,0,NaN,AguaPotavel,0,...,NaN,140.0,0,NaN,NaN,82.729301,0.0,PVC,aTU-33,Vilamar

In [62]:
 tub.groupby(['AnoInstala']).agg({'AnoInstala': 'count', 'Rugosidade': 'mean', 'Shape_Leng': { 'min', 'max', 'mean' }})

           AnoInstala  Rugosidade  Shape_Leng
                count        mean        mean          max         min
AnoInstala
0                   2  140.000000   47.275829    93.201582    1.350075
200                 5  140.000000    5.764059    16.063056    0.144326
1970              176  137.630682  121.786929  1634.929503    0.336085
1971               45  140.000000   95.561514  1337.912887    0.359874
1972               48  131.312500   59.397185   394.371742    0.051289
1977              105  137.352381  124.549537   910.250662    0.085921
1979              104  140.000000  132.409480  1340.606716    0.048578
1980              185  136.243243  149.773438  1010.690056    0.018831
1981               48  140.000000  128.984735   851.790951    1.305217
1982              439  139.683371  111.770116  1044.195376    0.126869
1983               59  140.000000  135.427987  1276.064037    0.067530
1984               22  140.000000  252.066172  1052.769256    0.120861
1987              592  139.530405  100.329583  1780.913942    0.025654
1988                4  140.000000  251.354256   333.401330   73.300056
1990              273  140.000000  124.822616  1009.351644    0.482765
1991               12  140.000000   45.541843   374.892728    0.552039
1992              165  140.000000  165.301198  1736.227970    0.009751
1993              137  140.000000  108.135185   688.088245    0.021965
1994               91  140.000000  114.061476   746.717747    1.046057
1995              476  139.707983  138.777114  1860.132216    0.271934
1996              311  140.000000  120.439028  1324.315958    0.779566
1997              183  139.240437  158.496722  1896.605684    0.218730
1998              466  139.403433  112.723935  2102.301794    0.016000
1999                1  140.000000   17.940368    17.940368   17.940368
2000               46  140.000000   94.002740   438.243484    0.682676
2001              289  140.000000   98.412268   785.217458    0.716174
2002                3  140.000000  430.448245  1030.826881   52.533154
2003              158  140.000000  109.044988  1318.177221    0.416675
2004              102  140.000000   66.298268   396.948544    0.286074
2005               71  140.000000   95.834936   675.906073    0.546758
2006              160  140.000000   49.118539   345.487251    0.222387
2008               17  140.000000  153.460981   716.302420    1.917479
2009                2  140.000000  304.754121   374.387735  235.120507
2010               35  140.000000  105.896302   676.749937    0.795640
2011               30  140.000000   89.778354   368.614036    2.220391
2012               23  140.000000   94.364653   794.029978    0.323045
2013               37  140.000000  118.793901   702.897025    0.229694
2014               44  140.000000   81.732872  1259.013122    0.236690
2015              270  140.000000   85.361366   923.948548    0.165829
2016               24  140.000000   97.760368   747.847336    5.311823
2017              124  140.000000  120.296627  1670.987926    0.353734
2018              680  140.000000   44.933489   825.175250    0.004219
2019               90  140.000000  136.085460   760.431594    0.223513
2020               69  140.000000   79.857089  1062.726339    0.165017
2021               12  140.000000   84.964694   302.534255   23.366145
2022              274  140.000000   67.376937   911.128164    0.071546